


 <!DOCTYPE HTML>
  <head>
  {{ form.media }}
  <style>
   
 
	.name {
	   margin-top:-35px; margin-left:25px;}
	  
	  
	
   </style>
  </head>
  <body style="background-color:#020003;">
    <div class="ps-2" id="{{comment.id}}" style="background-color:#0d0d1d;">
     		
   
		  <div  class="card w-98 bg-100 shadow hover:shadow-lg shadow-inner"   style="  margin-bottom:5px; background-color:#0d0d1d; ">
		  {% if  comment.video_parent %}
			<div  id="comment-edits" style="background-color:white; width:90%; margin:5% " >
		   <div tabindex="0"  class="btn btn-ghost btn-circle avatar" style=" ">
			<img  class="w-10 rounded-full" src="/media/image/avatar2.png" width="20px" style="margin:3px"/>
		   </div>
			<span><strong style="color:blue; position:relative; top:-0px; ">{{comment.video_parent.name}}   said;</strong></span>
			<div style="position:relative; top:-0px; margin-left:30px; color:black ">
           <i> <p class="w-50"> {{comment.video_parent.body}}</p></i>
			
		   </div>
		    {% endif %}
           </div>
		    
	   <div class="w-98   shadow-xl shadow hover:shadow-lg shadow-inner" style="  margin:5px;  border-radius:10px; background-color:#0d0d1d;">
         <div tabindex="0"  class="btn btn-ghost btn-circle avatar" style=" margin-top:-5px; ">
           <div class="w-10 rounded-full">
            <img alt="user" width="50px" src="/media/image/avatar2.png" style="margin-left:-8px"/>
           </div>
		   </div>
		  
		  <div class="name"   >
           <strong style="color:blue; ">{{comment.name}}</strong>
		    
       {% if  comment.video_parent.name %} <strong style="color:white"> then replied to</strong>  <strong style="color:purple">{{comment.video_parent.name}}</strong>  {% endif %} 
            <small class="text-muted">   <i style="color:purple"> about {{ comment.created | timesince }} ago</i></small>
			<div  style="color:orange; padding:5px; margin:5px" id="comment-edits">
			 <p class="w-50">{{comment.body}}</p>
			</div>
		  
		  
		
			
			
			   {%  if comment.edited %}
			  <i><p style="margin-left: 0px; color:grey;"> Edited  {{ comment.edited_date|timesince }} ago</p></i>
			 {% endif %}
		
		 
	    </div>  
			 
		<div style="margin-left:30px;">

			{% if user.is_authenticated %}
             {% if request.user not in comment.likes.all %}
              <button hx-post="{% url 'videos:comment-like' video.pk comment.pk%}"  hx-swap="outerHTML" hx-target="this" class="remove-default-btn" style=" margin-bottom:10px; margin-top:10px" ><b><i class="fa fa-thumbs-up" style="font-size:12px; color:white"></i> <span style="font-size:12px; color:white">{{ comment.likes.all.count }}</span></b></button>
			{% else %}
			  <button hx-post="{% url 'videos:comment-like' video.pk comment.pk%}"  hx-swap="outerHTML" hx-target="this" class="remove-default-btn" style=" margin-bottom:10px; margin-top:10px"><b><i class="fa fa-thumbs-up" style="font-size:12px; color:blue"></i> <span style="font-size:12px; color:blue">{{ comment.likes.all.count }}</span></b></button>
			{% endif %}
              	
            <span><button class="btn  btn-sm" style=" margin-bottom:10px; margin-top:10px" onclick="handleReply({{comment.id}})">Reply</button></span>
			{% if request.user == comment.name %}
		 
			<span><button class="btn  btn-sm" style=" margin-bottom:10px; margin-top:10px" hx-get="{% url 'videos:edit-comment'  comment.pk %}?next={{request.path}}"  hx-swap="outerHTML" hx-target="this" hx-push-url="true">Edit</button></span>
		 
		   {% else %}
		   <span></span>
		   {% endif %}
			
             {% endif %}
		    
			 <div id="reply-form-container-{{comment.id}}" style="display:none">
            
                <form method="post" action="{% url 'videos:reply' %}" class="mt-3">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{video.id}}">
                    <input type="hidden" name="parent" value="{{comment.id}}">
                    <input type="hidden" name="post_url" value="{{video.get_absolute_url}}">


                    {{ form.as_p }}  

                    <div>
                        <button type="button" onclick="handleCancel({{comment.id}})" class="btn btn-light border btn-sm" >Cancel</button>
                        <button type="submit" class="btn btn-primary btn-sm" >Submit</button>
                    </div>
                </form>
            </div>
		</div>
		</div>
        </div>
		
		 </div> 
	  
	
           
			 
			 
        </div>
	   </div>
	   </div>
       		
   

</body>