{% for videos in properties_videos %}

	
<div class="card card-side bg-base-100 shadow-sm" style="display:grid; grid-template-columns:50% 48%; gap:2px; margin:5px">
   <figure >
	<a href="{{ videos.get_absolute_url }}"><img src="{{ videos.poster.url}}" /></a>
   </figure>
  
    <h2 class="card-title" style="color:orange">{{ videos.title }}</h2>
   
</div>
		

{% endfor %}

 <div id="allVideos">
	{% if properties_videos.has_next  %}
    <span style="font-size:40px"
      hx-get="{% url 'videos:more-properties-video' %}?page={properties_videos.next_page_number }}"
      hx-swap="beforeend"
      hx-target="#allVideos"
    
      hx-trigger="revealed">
     </span>
   	 {% else %} 
     <p style="color:red">End</p>	 
     {% endif %} 
	</div>
	