{% load static %}
<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <style>
        .fade-in {
            opacity: 1;
            animation-name: fadeInOpacity;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: 0.5s;
        }

        @keyframes fadeInOpacity {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    </style>
</head>

<body>
    {% if messages %}
    {% for message in messages %}

    {% if message.tags == 'success' %}
    <div id="message" class="alert alert-success" role="alert">
        {{ message|safe|escape }}
    </div>
    {% elif message.tags == 'error' %}
    <div id="message" class="alert alert-error" role="alert">
        {{ message|safe|escape }}
    </div>
    {% elif message.tags == 'info' %}
    <div id="message" class="alert alert-error" role="alert">
        {{ message|safe|escape }}
    </div>
    {% elif message.tags == 'warning' %}
    <div id="message" class="alert alert-warning" role="alert">
        {{ message|safe|escape }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% if messages %}
    <script>

        $('#message').hide().fadeIn(500).delay(3000).fadeOut(100);


    </script>
    {% endif %}
</body>

</html>