
{% load static %}

<!DOCTYPE HTML>
<html>
<head>
   {{ form.media }} 
  
 
</head>


<body>
 
 
 {% if comment.edited %}
 <div id="edited-comment">
  <p style="margin-left:31px">{{comment.body}}</p>
   <i><p style="margin-left: 0px; color:red;"> This Comment has been Edited  {{ comment.edited_date|timesince }} ago</p></i>
  	{% if request.user == comment.name %}
  <button class="btn  btn-sm" hx-get="{% url "videos:edit-comment" comment.pk %}" hx-target="#edited-comment" hx-swap="outerHTML"  hx-push-url="true" >Edit</button>
	{% else %}
	<span></span>
	{% endif %}
 </div>

   {% else %} 
 
<div style="margin-bottom:100px">
<form method="post" action="{% url 'videos:edit-comment' comment.pk %}" hx-boost="true" id="edit-form">  

    {{ form.as_p }}  
    {% csrf_token %}  
    <input type="submit" value="Add comment" class="btn btn primary" style="margin:5px"  >
	<input type="hidden" name="next" value="{{ request.GET.next }}" />
	<span ><a class="btn  btn-sm" href="javascript:history.go(-1)" hx-boost="true">cancel</a></span>
	
</form>
</div>
{% endif %}